<div class="footer_terms">
	<span class="item"> Sways by keydesign. All Rights Reserved</span>
	<span class="item">
		<a href="#">Terms of Use Privacy Policy</a>
	</span>
</div>

<style lang="scss">
	@import '../../../../styles/variables.scss';
	.footer_terms {
		padding: 1.8rem 1rem 3rem;
		display: flex;
		.item {
			flex: 1;
			& > a {
				color: $title-color;
			}
		}
	}
</style>
