---
import TestimonialSlider from './TestimonialSlider.astro'
---

<section class="testimonials">
	<TestimonialSlider />
</section>

<style>
	.testimonials {
		max-width: 1370px;
		margin: 0 auto;
		padding: 0 2rem 5.75rem;
	}
</style>
