---
import TestimonialSlider from './TestimonialSlider.astro'
---

<section class="testimonials">
	<TestimonialSlider />
</section>

<style>
	.testimonials {
		max-width: 1230px;
		margin: 0 auto;
	}
</style>
