---
import SubscribeForm from './SubscribeForm.astro'
---

<section class="subscription_section">
	<div class="container">
		<div class="subscription_inner">
			<div class="left">
				<h4>
					Subscribe to our newsletter and receive 10% off your first order
				</h4>
			</div>
			<SubscribeForm />
		</div>
	</div>
</section>

<style lang="scss">
	@import '../../../styles/variables.scss';
	.subscription_section {
		padding: 5.5rem 0;
		.subscription_inner {
			padding-top: 10rem;
			border-top: 2px solid rgba(105, 105, 105, 0.1);
			display: flex;
			align-items: center;
			.left {
				flex: 1;
				h4 {
					color: $text-dark-color;
					text-align: center;
					font-size: 2.8rem;
					font-weight: 500;
					max-width: 42.5rem;
					margin: 0 auto;
				}
			}
		}
	}
</style>
