$right-shift: 4.2rem;
$bottom-shift: 5rem;

.section_process {
	background-color: $lighter-purple;
	padding: 9.7rem 0 5.1rem;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
		&__video_block {
			position: relative;
			background-image: url('/assets/dots.svg');
			background-repeat: no-repeat;
			background-position: bottom right;
			video {
				border-radius: 1rem;
				overflow: hidden;
				object-fit: cover;
				margin: 0 $right-shift $bottom-shift 0;
				display: block;
			}
			&__controls {
				width: 12rem;
				height: 12rem;
				border-radius: 12rem;
				background: rgba(255, 255, 255, 0.9);
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(
					calc(-50% - $right-shift / 2),
					calc(-50% - $bottom-shift / 2)
				);
				> svg {
					color: $light-green;
				}
			}
		}
		&__content {
			max-width: 50rem;
			&__title {
			}
			&__decs {
			}
			&__btn {
			}
		}
	}
}
