.section_services {
	background-color: $light-purple;
	text-align: center;
	padding: 16.5rem 0 10.3rem;
	&__title {
		color: $title-color;
		font-size: 3.4rem;
		font-weight: 500;
		margin-bottom: 7.2rem;
	}
	&__cards_list {
		display: flex;
		gap: 3rem;
		justify-content: center;
		padding: 0 2.6rem;
		margin-bottom: 7.6rem;
		&__item {
			padding: 3.9rem 1rem;
			&__title {
				color: $title-color;
				font-size: 2rem;
				margin-top: 1rem;
				font-weight: 500;
			}
			&__desc {
				font-size: 1.5rem;
				letter-spacing: -0.01em;
				margin: 2.3rem 0 2.7rem;
			}
		}
	}
	&__btn {
		& > svg {
			transform: rotate(-90deg);
			vertical-align: middle;
		}
	}
}
