$neue: 'Neue Haas Unica', sans-serif;
$roboto: 'Roboto', sans-serif;
$saint: 'Mrs Saint Delafield', cursive;

//Colors
$light-green: #00d664;
$light-green-darker: #05a550;
$light-purple: #f7f4fb;
$yellow: #f5ad0d;
$lighter-purple: #f5f6fe;
$light-grey: #acacac;
$text-color: #696969;
$text-dark-color: #39374d;
$title-color: #1e266d;
