---
import CurlyTitle from '@/components/ui/CurlyTitle.astro'
---

<div class="about_content">
	<CurlyTitle className="subtitle">Catering services in New York</CurlyTitle>
	<h2 class="title">We specialize in corporate and private events</h2>
	<p class="description">
		With 20 years of experience, we promise you the freshest, local ingredients,
		hand-crafted cooking sprinkled with our unique whimsical elegance and
		exceptional service.
	</p>
</div>

<style lang="scss">
	@import '../../../../styles/variables.scss';
	.about_content {
		text-align: center;
		.subtitle {
			color: $light-grey;
		}
		.title {
			color: $title-color;
			font-size: 4.2rem;
			font-weight: 500;
			margin-bottom: 2.4rem;
		}
		.description {
			max-width: 82rem;
			margin: 0 auto;
			font-size: 1.8rem;
			font-weight: 400;
			letter-spacing: 0.03em;
		}
	}
</style>
