---
type Props = {
	className?: string
}

const { className } = Astro.props
---

<h2 class:list={[className]}><slot /></h2>

<style lang="scss">
	@import '../../styles/variables.scss';
	h2 {
		font-family: $saint;
		font-size: 5.8rem;
		font-weight: 400;
		line-height: 1;
	}
</style>
